<div id="cart">
  {{#each products}}
    <div class="cart-item">
      <img src="{{this.product.imageUrl}}" alt="{{this.product.title}}" class="product-image" />
      <h3 class="product_title">{{this.product.title}}</h3>
      <div class="product-details">
        <div class="cart_quantity">
          <h2>Cantidad</h2>
          <div class="aum_rest">
            <form action="/cart/increase/{{../cartId}}/{{this.product._id}}" method="POST">
              <button class="btn cart px-auto">+</button>
            </form>
            <span>{{this.quantity}}</span>
            <form action="/cart/decrease/{{../cartId}}/{{this.product._id}}" method="POST">
              <button class="btn cart px-auto">-</button>
            </form>
          </div>
        </div>
        <div class="cart_price">Precio Total: <span class="price">{{multiply this.quantity this.product.price}} $</span></div>
        <form action="/cart/delete/{{this.product._id}}?_method=DELETE" method="POST" id="deleteForm-{{this.product._id}}">
          <button type="submit" class="delete-btn">
            <box-icon name="trash-alt" type="solid" animation="tada" color="#7749c7"></box-icon>
          </button>
        </form>
      </div>
    </div>
  {{/each}}

  {{!-- <div class="cart_btn">
    <form action="/cart/deleteId/{{cartId}}?_method=DELETE" method="POST" id="deleteForm-{{_id}}">
      <button type="submit" class="btn cart px-auto fin">Remove Products</button>
    </form>
  </div> --}}

</div>
<div class="cash">
  Total a Pagar: <span>{{total}} $</span>
</div>
<div class="cart_btn">
<button class="btn cart px-auto fin">Add Products</button>
<form action="/purchase/checkout" method="POST">
    <button type="submit" class="btn cart px-auto fin">Buy</button>
</form>

</div>

<script src="../../helpers/multiply.js"></script>